body {
	background-color: #8e3d3d;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	color: #5E412F;
}

.num-btn, #question, #answer-area, #check-btn, .row {
	text-align: center;
}

.row {
	color: white;
}

#main {
	border-radius: 15px;
	background-color: #FCEBB6;
	margin-top: 135px;
}

.num-btn {
	background-color: #F0A830;
	padding: 3px;
	border: white;
	margin: 4px;
	border-radius: 3px;
	box-shadow: 10px;
	height: 25px;
}

#result {
	color: #5E412F;
	margin-top: 10px;
    margin-bottom: 15px;
}

#check-btn, #question {
	background-color: #0D83C0;
	padding: 3px;
	border: white;
	margin: 4px;
	border-radius: 3px;
	box-shadow: 4px;
	height: 25px;
}

#answer-area {
	background-color: #78C0A8;
	padding: 3px;
	border: white;
	margin: 4px;
	border-radius: 3px;
	box-shadow: 4px;
	height: 25px;
}

#check-btn, .num-btn {
	transition: 200ms ease-in-out background-color;
	cursor: pointer;
}

#check-btn:active, .num-btn:active {
	background-color: #F07818;
}

#author {
	font-color: white;
	text-align: center;
	font-size: 15px;
	margin-top: 15px ;
}

a {color:#FCEBB6;}      /* unvisited link */
a:visited {color:#FCEBB6;}  /* visited link */
a:hover {color:#FCEBB6;}  /* mouse over link */
a:active {color:#FCEBB6;}  /* selected link */